* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

:root {
  --primary: orange;

  --main-bg: #fff;

  --main-text: #303030;
}

body {
  width: 100vw;
  height: 100vh;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  height: 100%;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 4rem;
  width: 100%;
  background-color: var(--primary);
  color: #fff;
}

main {
  display: flex;
  padding: 1rem 2rem;
  height: 100%;
  width: 100%;
}

main p {
  font-size: 1.3rem;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 4rem;
  width: 100%;
  background-color: var(--primary);
  color: #fff;
}
